/**

*/
/* Application Theme Settings */
:root {
    --primary-color: #fcc539;

}
body {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    background-color: #181818;
    color: #ffffff;
}
/* font-Controller */
.nav-bar,
.btn,
.section-content,
.section-effect-inner p,
footer
{
    font-family: 'Montserrat';
}
.hero-section  .hero-section-content-wrapper h1,
.heading-primary,
.section-effect-inner h3,
.page-heading-primary,
.artist-content h3,
.post-title,
.product-discription-detail .item-heading,
.product-description-heading
{
    font-family: 'Domine', serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

/* -----------------------
     LAYOUT DESIGN
--------------------------*/
/* Primary Header */
.primary-header {
    height: 85px;
    background-color: transparent;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brand a img {
    width: 86px;
    height: 80px;

    margin-left: 10px;
}
/* ------------------------------------- */
/* Nav Bar */
/* ------------------------------------- */
.nav-bar{
    display: flex;
}
.nav-bar li{
    margin-right: 38px;
}
.nav-bar li i {
    margin-left: 10px;
}
.nav-bar li .menu-dropdown {
    display: none;
    position: absolute;
    padding: 10px 5px;
    border: 2px solid var(--primary-color);
    border-radius: 14px;
    transition: all .5s;
    z-index: 1;
}

.nav-bar li .menu-dropdown ul li {
    list-style: none;
    padding:5px;
    text-transform: capitalize;
}

.nav-bar li a {
    text-decoration: none;
    color: #ffffff;
}
.nav-bar li:hover ,
.nav-bar li a:hover{
    color: var(--primary-color);
    transition: all .5s;
}
.nav-bar li:hover .menu-dropdown {
    display: block;
}
.nav-bar .active a {
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
}
.menu-icons {
    display: flex;
    align-items: center;
}
.menu-icons a {
    text-decoration: none;
    color:  #ffffff;
}

.menu-icons a {
    margin-right: 10px;
}
.menu-icons a i:first-child{
    margin-left: 30px;
}
.menu-icons a:hover {
    color: var(--primary-color);
    transition: all .5s;
}
/* ------------------------------------- */
/* Footer */
/* ------------------------------------- */
footer {
    height: 444px;
}
footer .footer-link-row {
    display: grid;
    grid-template-columns: repeat(3 , 1fr);

    padding-top: 39px;
}
footer .footer-link-row .col h3 {
    font-size: 35px;
    color: #e8e7e7;
    padding-bottom: 53px;
}

footer .footer-link-row .col p {
    font-size: 24px;
    color: #5b5b5b;
}
footer .footer-link-row .col a {
    color:  #5b5b5b;
    display: block;
    text-decoration: none;
    margin-bottom: 5px;
}
footer .footer-link-row .contact-col {
 text-align: center;
}
footer .footer-link-row .contact-col p {
    padding-bottom: 10px;
}
footer .footer-link-row .contact-col h5 {
    padding-top: 30px;
    color:  #5b5b5b;
}
footer .footer-link-row .social-icons .icons-list {
    display: flex;
}
footer .footer-link-row .social-icons .icons-list a img {
    width: 50px;
    height: 50px;
}
footer .footer-link-row .social-icons .icons-list a:not(:last-child){
    margin-right: 20px;
}
footer .copyright-text {
    padding-top: 100px;
    text-align: center;
    color: #c2c0c0;
}
/* -----------------------
     UTALITIES CLASSES
--------------------------*/

.text-left {
    text-align: left !important;
}
.text-right{
    text-align: right !important;
}
.mr-5{
    margin-right: 50px !important;
}
.ml-5{
    margin-left: 50px !important;
}
.mr-2{
    margin-right: 20px !important;
}
.ml-2{
    margin-left: 20px !important;
}
.btn{
    display: inline-block;
    font-weight: 400;
    color:  #ffffff;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 30px;
    font-size: 1.7rem;
    line-height: 1.5;
    border-radius: 100px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    background:linear-gradient(90deg, rgba(253,206,57,1) 0%, rgba(246,146,55,1) 100%);;
    color: #292929;
}
.btn-primary:hover{
    box-shadow: 0px 0px 20px 0px var(--primary-color);
}
.btn-outline {
    border: 1px solid #fdcc39 !important;
    background: none;
    color: #fdcc39;
}
a{
    text-decoration: none;
}

.left-to-right-arrow{
    width: 450px;
    height: 5px;
    background-color: var(--primary-color);

    position: relative;
}
.page-heading-primary {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 5px solid var(--primary-color);
    padding-bottom: 20px;

    font-size: 45px;
    color:  #e8e7e7;
    text-transform: uppercase;
}
.page-heading-secondary {
    font-size: 24px;
    color: #e5e2e2;
    padding-top: 43px;
} 
.page-heading-link {
    margin-top: 22px;
}
.page-heading-link a{
    text-decoration: underline;
    font-size: 24px;
    color: #898888;
    
}

.heading-primary {
    display: inline-block;
    text-transform: uppercase;
    border-bottom: 5px solid var(--primary-color);
    padding-bottom: 20px;

    font-size: 40px;
    color:  #e8e7e7;
    text-transform: uppercase;
    
}
.left-to-right-arrow::before{
    content: '';
    position: absolute;
    top: 50;
    right: 0;
    width: 40px;
    height: 40px;
    margin-top: -18px;
    margin-right: -20px;;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 5px 10px 60px 7px var(--primary-color);
    
}
.right-to-left-arrow{
    width: 450px;
    height: 5px;
    background-color: var(--primary-color);

    position: relative;
}
.right-to-left-arrow::after{
    content: '';
    position: absolute;
    top: 0;
    left:0;
    width: 40px;
    height: 40px;
    margin-top: -18px;
    margin-right: -20px;;
    background-color: var(--primary-color);
    border-radius: 50%;
    box-shadow: 5px 10px 60px 7px var(--primary-color);   
}
.text-center {
    text-align: center !important;
}
.page-title{
    padding-top: 109px;
}

/* -----------------------
     PAGE DESIGN
--------------------------*/
/* ------------------------------------- */
/* Home Page Design */
/* ------------------------------------- */
header {
    background-image: url(../images/hero_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height:559px ;
}
.hero-section {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.hero-section  .hero-section-content-wrapper {
    width: 870px;
    height: 435px;
    text-align: center;
}
.hero-section  .hero-section-content-wrapper h1 {
  font-family: 'Domine', serif;
  line-height: 80px;
    font-size: 56px;
    color: #ffffff;
    margin-bottom: 30px;
}
.hero-section  .hero-section-content-wrapper p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 70px;
}

/* Section Cooming Soon Setting */
.section-comming-soon {
    min-height:880px;
   background-image: url(../images//cs\ section\ background.jpg);
   background-repeat: no-repeat;
   background-size: cover;

   
}
.section-inner{
    padding-top: 140px;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
}
.section-inner .section-content {
    width: 80%;
    font-size: 45px;
    color: #e8e7e7;
}


.section-inner .section-content h4 {
    margin-top: 20px;
}
.section-inner .section-content p {
    margin-top: 40px;
    font-size: 24px;
    padding-bottom: 27px;
}
.section-inner-image-area {
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-inner-image-area img{
    width: 543px;
    height: 481px;
}
/* Section Effect */
.section-effect {
    min-height: 453px;
    background-image: url(../images/effect\ backg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    position: relative;
}
.section-start-shap {
    position: absolute;
    top: 0;
    left: 0;
}
.section-end-shape {
    position: absolute;
    bottom: 0;
    right: 0;
}
.section-effect-inner{
    padding-top: 103px;
}
.section-effect-inner h3 {
    font-size: 45px;
    color: var(--primary-color);
    text-transform: uppercase;
    padding-bottom: 57px;
}
.section-effect-inner p {
    font-size: 24px;
    color: f5f5f5;
    margin-bottom: 57px;
}
.section-effect-inner form input[type="text"] {
    padding-left: 40px;
    width: 374px;
    height: 43px;
    border-radius: 300px;
    margin-right: 20px;
}
/* Section Videos  */
.section-videos {
    height: 775px;
    background-image: url(../images/vd\ background\ img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.section-videos .section-video-inner {
    padding-top: 103px;
}
.videos-wrapper{
    margin-top: 20px;
    display: block;
    height: 400px;
    width: 100%;
    padding: 50px 10px;
    
}

.section-videos .section-video-inner .videos-container {
    padding-top: 70px;
}
.section-videos .section-video-inner .owl-carousel {
    width: 100%;
    height: 100%;

}

.section-videos .section-video-inner .owl-carousel .item-video {
    border: 3px solid var(--primary-color);
}

/* ------------------------------------- */
/* About Page Design */
/* ------------------------------------- */
.page-about{
    background-image: url(../images/about\ page\ background\ image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 4170px;
}
.our-artist {
    padding-top: 94px;
    /* padding-bottom: 84px; */
}

.our-artist .container .heading-primary{
    margin-bottom: 80px;
}
.artist-detail-wrapper {
    /* margin-top: 85px; */
    /* background-color: green; */
    height: 430px;
    position: relative;
}
.section-top-shape {
    position: absolute;
    top: 0;
    right: 0;
}
.section-bottom-shape {
    position: absolute;
    bottom: 0;
    left: 0;
}
.artist-wrapper {
    display: flex;
}
.image-wrapper {
    border: 3px solid  var(--primary-color);
}

.artist-wrapper .image-wrapper img {
    display: block;
    width:403px ;
    height:295px ;
   
}


.artist-content h3 {
    font-size: 30px;
    color: #f2f2f2;
    text-transform: uppercase;
}
.artist-content .about-artist{
    padding-top: 25px;
    width: 800px;
    display: flex;

}
.artist-content .about-artist img {
    height: 115px;
}
.artist-content .about-artist img p {
    font-size: 20px;
    color: #e5e2e2;
}
.our-vision p {
    padding-top: 40px;
    font-size: 20px;
    color: #e5e2e2;
}
.about-cta {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 140px;
}
/* post page design */
.page-blogs {
    background-image: url(../images/Blog/blog-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 2954px;
}
.blog-posts {
    margin-top: 200px;
    margin-bottom: 200px;
}
.post-wrapper {
    height: 611px;

    position: relative;
}
.left-top-line {
    /* width: 270px; */
    width: calc( calc(100vw - 1400px) / 2 - 30px);
    height: 5px;
    background-color: var(--primary-color);

    position: absolute;
    top: 10px;
    left: 0;
}
.post-title {
    font-size: 30px;
    color: #fcc639;
    text-transform: uppercase;
}
.post-metadata {
    margin-top: 37px;
}
.post-metadata span {
    font-size: 24px;
    color: #adacac;
}
.post-metadata span:first-child{
    text-transform: capitalize;
}
.post-metadata span:not(:last-child){
    margin-right: 60px;
}
.post-detail {
    margin-top: 37px;
    width: 1300px;
    /* background-color: green; */

    display: flex;
}
.post-image-wrapper {
    width: 403px;
    height: 297px;
    border: 2px solid  var(--pr);

    margin-right: 60px;
}
.post-image-wrapper img {
    display: block;
    width: 403px;
    height: 297px;
}
.post-content p {
    font-size: 24px;
    color: #c4c4c4;
    font-weight: lighter;
    padding-bottom: 40px;
}
.blog-cta {
    margin: 150px 0px;
}

/* ------------------------------------- */
/* Cart Page Design */
/* ------------------------------------- */
.page-cart {
    background-image: url(../images/cart/cart\ background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 1704px;
}
.section-cart{
    margin-top: 150px;
}
.section-cart .table-heading,
.section-cart .table-body {
    padding: 20px 0px;
    border-top: 2px solid #fcc539;
    border-bottom: 2px solid #fcc539;
}
.section-cart .table-body{
    border-top: 0px;
}

.section-cart .table-heading table,
.section-cart .table-body table {
    width: 100%;
}
.section-cart .table-heading table thead tr th,
.section-cart .table-body table tbody tr td{
    width: 20%;
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
    color: #dadada;
}
.section-cart .table-body {
    margin-top: 30px;
}

.section-cart .table-body .item-name{
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}
.section-cart .table-body .item-name a {
    display: block;
    text-decoration: underline;
    color: #898888;
    font-weight: 100;
    font-style: 20px;
    margin-top: 10px;
}
.section-cart .table-body .quantity input[type="text"] {
    width: 70px;
    height: 40px;
    border-radius: 50px;
    background: transparent;
    text-align: center;
    color: #dadada;
    border: 1px solid #dadada;
}
.cart-total-detail {
    text-align: right;
    padding-top: 100px;
}
.cart-total-detail .price-heading{
    font-size: 24px;
    color: #fdcc39;
    margin-right: 82px;
}
.cart-total-detail .price-value{
    font-size: 35px;
    color: #fdcc39;
}
.cart-total-detail .checkout-note{
font-size: 20px;
color: #898888;
margin-top: 37px;
margin-bottom: 50px;
}
.payment-buttons{
    margin-top: 100px;
    margin-bottom: 143px;
}
.payment-buttons a:not(:last-child) {
    margin-right: 35px;
}
/* ------------------------------------- */
/* Product Page Design */
/* ------------------------------------- */
.page-products {
    background-image: url(../images/product/product.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 2814px;
}
.product-showcase {
margin-top: 85px;
}
.product-detail-wrapper{
    display: flex;
}
.product-discription-detail{
    margin-left: 108px;
    width: 700px;
}
.product-visual-detail{
    width: 700px;    
}
.product-image-sliders{
    width: 90%;
    height: 700px;
    margin: 0 auto
}
.product-image-slider-inner {
    margin-top: 10px;
    display: block;
    width: 80%;
    margin: 0 auto;
}
.product-image-slider-inner ul.tumbnil{
    margin: 0 auto;
    padding: 0px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.product-image-slider-inner ul.tumbnil li {
    list-style: none;
    margin:5px;
    margin-left: 30px;
    width: 130px;
    height: 100px;
    overflow: hidden;
    border: 2px solid #fcc539;
    border-radius: 3px;
}
.product-image-slider-inner ul.tumbnil li:first-child{
    margin-left: 0px;
}
.product-image-slider-inner ul.tumbnil li img {
    width: 100%;
    height: 100%;

}
.imgBox {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border: 2px solid #fcc539;
    border-radius: 3px;
}
.imgBox img {
    width: 100%;
}


.product-description-table{
    margin-top: 30px;
}
.product-description-heading{
    font-size: 24px;
    color: #fcc539;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.product-description-table table {
    width: 400px;
    border: 1px solid #fcc539;
}
.product-description-table table tr{
    font-size: 20px;
    border-bottom: 2px solid #fcc539;
}
.product-description-table table tr th{
    padding: 10px 5px;
    width: 150px;
    text-align: left;
    text-transform: capitalize;
    border-right: 2px solid #fcc539;
}
.product-discription-detail .item-heading {
    font-size: 30px;
    color: #f2f2f2;
    text-transform: uppercase;
}
.item-price {
    font-size: 35px;
    color: #fdcc3a;
    padding-top: 28px;
}
.buying-methods{
    margin-top: 50px;
}
.buying-methods a:not(:last-child){
    margin-right: 50px;
}
.payment-methods {
    margin-top: 30px;
    text-align: right;
}
.payment-methods a {
    text-decoration: underline;
    color: #898888;
}
.description {
    margin-top: 30px;
    line-height: 40px;
}
.description-list {
    margin-top: 30px;
    list-style: none;
    margin-bottom: 30px;
  }
  .description-list li:not(:last-child) {
      padding-bottom: 15px;
  }
  .description-list li::before {
    content: "\2022";  
    color: #fcc539; 
    font-weight: bold;
    display: inline-block;
    width: 1em; 
    margin-left: -1em; 
  }
  .description-heading,
  .author-heading {
      font-size: 24px;
      color: #fdcd3a;
      text-transform: capitalize;
      margin-bottom: 30px;
  }
  .description-paragraph,
  .author-paragraph {
      line-height: 40px;
  }
  .author-detail {
      margin-top: 50px;

  }
  .author-heading {
      text-transform: uppercase;
  }
  .product-comment {
      margin-top: 140px;
  }
  .comment-wrapper {
    display: flex;
}
.comment-form {
    width: 831px ;
}
  .product-comment .comment-form textarea {
        width: 100%;    
    height: 203px;
        border-radius: 15px;
        padding: 20px 0px 0px 20px;
        display: block;
        margin-bottom: 33px;
  }
 .product-comment  .login-link{
    text-decoration: none;
    color: #969595;
    font-size: 19px;
    text-align: right;
 
 }
 .social-share-buttons {
     margin-left: 91px;
     margin-top: 61px;
 }
 .social-share-buttons a {
     display: block;
     margin-bottom: 15px;
 }
 .product-page-cta {
     text-align: center;
     margin-top: 130px;
     margin-bottom: 160px;
 }
 .searchbox{
     display: none;
    width: 0px;
    height: 30%;
    position: relative;

    transition: width .7s;
 }
 .open-searchbox{
     display: block;
     width: 300px;
    
 }
 .open-searchbox .searchbox-input {
    border: 2px solid var(--primary-color);
 }
 .searchbox-input{
    width: 100%;
    height: 30px;
    background-color: transparent;
    border-radius: 15px;
    padding-right: 20px;
    padding: 0px 10px;
    position: relative;
    border: none;
    color: white;
    
 }
 .searchbox-input::placeholder{
     color: var(--primary-color);
 }
 .searchbox button[type='submit'] {
    position: absolute;
    top: 5px;
    right: 0;
    background:transparent;
    border: none;
 }
 .searchbox button[type='submit'] i {
     color: var(--primary-color);
     margin-right: -30px;
 }
 